* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}

header {
    margin: 44px 0 144px 0;
    text-align: center;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}

.button-header {
    width: 130px;
    height: 41px;
    font-size: 24px;
    font-weight: 600px;
    line-height: 29px;
    border-radius: 20.5px;
    border: none;
    background: #665AE1;
    cursor: pointer;
    color: #ffffff;
}

.img-logo {
    width: 568px;
    height: 500px;
    margin-left: 350px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 100%;
    color: #515151;
}

.about {
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    color: #515151;
}

.description {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
    text-align: justify;
    word-spacing: -2px;
}

.button-main {
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    width: 239px;
    height: 64px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background: #adff00;
    color: #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.493));
}